{% extends 'base.html' %}
{% load static %}

{% block title %}Adicionar Jogador{% endblock title %}

{% block content %}
<div class="container mt-3">
    <h2>Adicionar Novo Jogador</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'app:lista_jogador' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
